<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>添加文章</title>
  <link rel="stylesheet" href="/static/css/layui.css">
  <link rel="stylesheet" href="/static/ckeditor5/ckeditor5.css">
  <script src="https://cdn.jsdelivr.net/npm/layui-src@2.6.8/dist/layui.js"></script>
  <script type="text/javascript" src="/static/js/jquery-1.11.0.min.js"></script>

</head>
<body>
  <!-- 添加文章按钮 -->

</body>
</html>