<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>我的脑图知识库</title>
    <link type="text/css" rel="stylesheet" href="/static/css/jsmind.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/left-side-menu.css">
    <link rel="stylesheet" type="text/css" href="/static/font/iconfont.css">
    <script type="text/javascript" src="/static/js/jquery-1.11.0.min.js"></script>
    <script src="/static/js/jquery.slimscroll.min.js"></script>
    <style>
        html, body {
            margin: 0;
            padding: 0;
            height: 100%;
        }

        .top {
            display: flex;
            z-index: 10; /* 设置较高的堆叠顺序值 */
            position: fixed;
            width: 90%;
            justify-content: space-between;
            align-items: center;
            height: 40px;
        }

        .top h1 {
            margin-left: 20px;
        }

        .top a {
            margin: 20px;
        }

        .container {
            display: flex;
            height: calc(100%); /* 减去头部的高度 */
            overflow: scroll; /* 或者 overflow: scroll; */
        }

        .container-right {
            flex: 1;
            min-width: 90%;
            height: 100%;
            background-color: white;
            display: inline;
            overflow: scroll; /* 或者 overflow: scroll; */
        }

        #jsmind_container {
            flex: 1;
            min-width: 90%;
            max-width: 90%;
            margin-left: 50px;
            padding-top: 40px;
            background-color: white;
            overflow-y: auto; /* 垂直滚动条 */
            display: inline;
        }

        .button {
            display: inline-block;
            padding: 10px 20px;
            background-color: #4CAF50;
            color: white;
            text-decoration: none;
            border-radius: 4px;
            font-weight: bold;
        }

        .button:hover {
            background-color: #45a049;
        }

        .button:active {
            background-color: #3e8e41;
        }

         pre {
             background-color: #f4f4f4;
             padding: 10px;
             border-radius: 5px;
         }

        pre code {
            font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
            font-size: 14px;
            color: #333;
        }

        table {
            min-width: 50%;
            width: auto;
            border-collapse: collapse;
        }

        th, td {
            padding: 8px;
            text-align: left;
            border: 1px solid #000;
        }

        th {
            background-color: #ccc;
            color: #fff;
        }

        h1 {
            font-size: 2em;
            font-weight: bold;
        }

        h2 {
            font-size: 1.5em;
            font-weight: bold;
        }

        h3 {
            font-size: 1.17em;
            font-weight: bold;
        }

        h4 {
            font-size: 1em;
            font-weight: bold;
        }

        h5 {
            font-size: 0.83em;
            font-weight: bold;
        }

        h6 {
            font-size: 0.67em;
            font-weight: bold;
        }

    </style>
</head>
<body>
<div class="container">
    <div class="left-side-menu" >
        <div class="lsm-expand-btn">
            <div class="lsm-mini-btn">
                <label>
                    <input type="checkbox" checked="checked">
                    <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="50" cy="50" r="30" />
                        <path class="line--1" d="M0 40h62c18 0 18-20-17 5L31 55" />
                        <path class="line--2" d="M0 50h80" />
                        <path class="line--3" d="M0 60h62c18 0 18 20-17-5L31 45" />
                    </svg>
                </label>
            </div>
        </div>
        <div class="lsm-container">
            <div class="lsm-scroll" >
                <div class="lsm-sidebar"></div>
            </div>
        </div>
    </div>
    <div class="container-right">
        <div class="top">
            <h1 id="note-title"></h1>
            <div id="currentNoteKey" style="display: none;">
            </div>
            <a id="demo01" href="#" class="button">查看内容</a>
        </div>
        <div id="jsmind_container"></div>
    </div>
</div>


<script type="text/javascript" src="/static/js/jsmind.js"></script>
<script type="text/javascript" src="/static/js/jsmind.draggable-node.js"></script>
<!--<script type="text/javascript" src="/static/js/jsmind.shell.js"></script>-->
<script type="text/javascript" src="/static/js/layer/layer.js"></script>
<script type="text/javascript">
    var _jm = null;
    function load_jsmind(note_key) {
        if (note_key === "") {
            return
        }
        url = "/mind/" + note_key
        $.ajax({
            url: url,
            type: "GET",
            data: {},
            success: function(data) {
                if (data.error_msg === "") {
                    var mind = {
                        meta: {
                            name: 'demo',
                            author: 'demo@demo.com',
                            version: '0.2',
                        },
                        format: 'node_tree',
                        data: data.content,
                    };
                    var options = {
                        container: 'jsmind_container',
                        editable: false,
                        theme: 'primary',
                        log_level: 'debug',
                        shortcut: {
                            handles: {
                                test: function (j, e) {
                                    console.log(j);
                                },
                            },
                            mapping: {
                                test: 89,
                            },
                        },
                        view: {
                            expander_style: 'char',
                        },
                    };
                    _jm = new jsMind(options);
                    _jm.show(mind);
                }  else {
                    layer.open({title: '提示',content: data.error_msg});
                }
            },
        });
    }
</script>

<script>
    $("#demo01").click(function () {
        var note_key = $("#currentNoteKey").html()
        if (note_key !== "") {
            var selected_node = _jm.get_selected_node();
            if (!!selected_node) {
                url = "/note/"+note_key+"/node/" + selected_node.id
                $.ajax({
                    url: url,
                    type: "GET",
                    data: {},
                    success: function(data) {
                        if (data.status === 200) {
                            layer.open({
                                type: 1,   //0-4的选择,（1代表page层）
                                area: ['95%', '95%'],
                                // shade: [0],  //不显示遮罩
                                // border: [0], //不显示边框
                                resize: false,
                                shadeClose: true,
                                title: [data.title],
                                bgcolor: '#eee', //设置层背景色
                                content: "<div style=\"padding: 20px;\">" + data.content + "</div>",
                                // shift: 'top' //从上动画弹出
                            });
                        } else {
                            layer.open({title: '提示',content: data.error_msg});
                        }
                    },
                });
            }
        }
    })
</script>

<script type="text/javascript">
    $(function(){
        // ajax获取菜单
        url = "/menus"
        $.ajax({
            url: url,
            type: "GET",
            success: function(data) {
                if (data.status === 200) {
                    $(".lsm-sidebar").html(data.content)
                } else {
                    layer.open({
                        title: '接口异常'
                        ,content: data.error_msg
                    });
                }
                $('.lsm-scroll').slimscroll({
                    height: 'auto',
                    position: 'right',
                    railOpacity: 1,
                    size: "5px",
                    opacity: .4,
                    color: '#fffafa',
                    wheelStep: 5,
                    touchScrollStep: 50
                });
                $('.lsm-container ul ul').css("display", "none");
                // lsm-sidebar收缩展开
                $('.lsm-sidebar a').on('click',function(){
                    $('.lsm-scroll').slimscroll({
                        height: 'auto',
                        position: 'right',
                        size: "8px",
                        color: '#9ea5ab',
                        wheelStep: 5,
                        touchScrollStep: 50
                    });
                    if (!$('.left-side-menu').hasClass('lsm-mini')) {
                        $(this).parent("li").siblings("li.lsm-sidebar-item").children('ul').slideUp(200);
                        if ($(this).next().css('display') == "none") {
                            //展开未展开
                            // $('.lsm-sidebar-item').children('ul').slideUp(300);
                            $(this).next('ul').slideDown(200);
                            $(this).parent('li').addClass('lsm-sidebar-show').siblings('li').removeClass('lsm-sidebar-show');
                        }else{
                            //收缩已展开
                            $(this).next('ul').slideUp(200);
                            //$('.lsm-sidebar-item.lsm-sidebar-show').removeClass('lsm-sidebar-show');
                            $(this).parent('li').removeClass('lsm-sidebar-show');
                        }
                    }
                    $("#jsmind_container").html("")
                    $("#note-title").html($(this).attr("title"))
                    $("#currentNoteKey").html($(this).attr("note-key"))
                    load_jsmind($(this).attr("note-key"));
                });
                //lsm-mini
                $('.lsm-mini-btn svg').on('click',function(){
                    if ($('.lsm-mini-btn input[type="checkbox"]').prop("checked")) {
                        $('.lsm-sidebar-item.lsm-sidebar-show').removeClass('lsm-sidebar-show');
                        $('.lsm-container ul').removeAttr('style');
                        $('.left-side-menu').addClass('lsm-mini');
                        $('.left-side-menu').stop().animate({width : 60},200);
                    }else{
                        $('.left-side-menu').removeClass('lsm-mini');
                        $('.lsm-container ul ul').css("display", "none");
                        $('.left-side-menu').stop().animate({width: 240},200);
                    }

                });

                $(document).on('mouseover','.lsm-mini .lsm-container ul:first>li',function(){
                    $(".lsm-popup.third").hide();
                    $(".lsm-popup.second").length == 0 && ($(".lsm-container").append("<div class='second lsm-popup lsm-sidebar'><div></div></div>"));
                    $(".lsm-popup.second>div").html($(this).html());
                    $(".lsm-popup.second").show();
                    $(".lsm-popup.third").hide();
                    var top = $(this).offset().top;
                    var d = $(window).height() - $(".lsm-popup.second>div").height();
                    if(d - top <= 0 ){
                        top  = d >= 0 ?  d - 8 : 0;
                    }
                    $(".lsm-popup.second").stop().animate({"top":top}, 100);
                });

                $(document).on('mouseover','.second.lsm-popup.lsm-sidebar > div > ul > li',function(){
                    if(!$(this).hasClass("lsm-sidebar-item")){
                        $(".lsm-popup.third").hide();
                        return;
                    }
                    $(".lsm-popup.third").length == 0 && ($(".lsm-container").append("<div class='third lsm-popup lsm-sidebar'><div></div></div>"));
                    $(".lsm-popup.third>div").html($(this).html());
                    $(".lsm-popup.third").show();
                    var top = $(this).offset().top;
                    var d = $(window).height() - $(".lsm-popup.third").height();
                    if(d - top <= 0 ){
                        top  = d >= 0 ?  d - 8 : 0;
                    }
                    $(".lsm-popup.third").stop().animate({"top":top}, 100);
                });

                $(document).on('mouseleave','.lsm-mini .lsm-container ul:first, .lsm-mini .slimScrollBar,.second.lsm-popup ,.third.lsm-popup',function(){
                    $(".lsm-popup.second").hide();
                    $(".lsm-popup.third").hide();
                });

                $(document).on('mouseover','.lsm-mini .slimScrollBar,.second.lsm-popup',function(){
                    $(".lsm-popup.second").show();
                });
                $(document).on('mouseover','.third.lsm-popup',function(){
                    $(".lsm-popup.second").show();
                    $(".lsm-popup.third").show();
                });
            },
        });
    });
</script>

</body>
</html>
